<html>
<head>
    <title>
        Dashboard
    </title>
</head>
<body>
    <h2>Main Menu</h2>

    <p>Welcome!</p>

    <button onclick="window.location.href='/show_desks'">View Desks</button><br><br>

    <button onclick="window.location.href='/add_desks'">Add a New Desk</button><br><br>

    <button onclick="window.location.href='/del_desks'">Remove a Desk</button><br><br>

    <button onclick="window.location.href='/show_bookings'">View bookings</button><br><br>

    <button onclick="window.location.href='/make_booking'">Book a desk</button><br><br>

    <button onclick="window.location.href='/del_booking'">Remove a Booking</button><br><br>

    <button onclick="window.location.href='/add_user'">Add New User</button><br><br>

    <button onclick="window.location.href='/del_user'">Remove a User</button><br><br>

    <button onclick="window.location.href='/Logout'">Logout</button>
</body>
</html>