<head>
    <title>
        Make a Booking
    </title>
</head>
<body>
    <h2>Make a Booking</h2>
    <form method="POST">
        <label>Desk ID:</label><br>
        <input type="text" name="desk_id" required><br><br>

        <label>Start Date:</label><br>
        <input type="date" name="start_date" required><br><br>

        <label>End Date:</label><br>
        <input type="date" name="end_date" required><br><br>

        <button type="submit">Make Booking</button>
    </form>
    {% if error %}
        <p style="color:red;"> {{ error }}</p>
    {% endif %}
</body>